@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --container-center: true;
  --container-padding: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-gradient-hero {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.7) 2.72%, rgba(0, 0, 0, 0) 35.89%, rgba(0, 0, 0, 0.53) 100%), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.9) 33.18%, rgba(0, 0, 0, 0) 80.52%),
        url('/static/img/bg-spiderman.png');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}