{% extends "partials/base_admin.html" %}
{% block title %}Manage Movie - Admin{% endblock %}

{% block content %}

<main class="flex-1 p-10">

    <h2 class="text-white text-3xl font-semibold mb-10">Manage Movie</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-3 gap-10">
            <div class="bg-black/50 backdrop-blur-xl border border-white/10 rounded-2xl p-6 h-fit">
                <p class="text-white/70 mb-4">Movie Poster</p>

                <div
                    class="w-full aspect-[2/3] bg-white/5 border border-white/10 rounded-xl flex items-center justify-center overflow-hidden mb-4">
                    <img id="posterPreview"
                        src="{% if movie.poster %}{{ movie.poster.url }}{% else %}/static/img/upload.png{% endif %}"
                        class="object-cover w-full h-full">
                </div>

                <input type="file" name="poster" id="posterInput" class="hidden" accept="image/*">

                <button onclick="document.getElementById('posterInput').click()"
                    class="w-full bg-[#F5C51C] text-black py-2 rounded-lg font-semibold cursor-pointer">
                    Upload Poster
                </button>
            </div>

            <div class="col-span-2 bg-black/50 backdrop-blur-xl border border-white/10 rounded-2xl p-8">
                <div class="space-y-6">
                    <div>
                        <label class="text-white/70 text-sm">Movie Title</label>
                        <input required type="text" placeholder="Enter movie title" name="title"
                            value="{{ movie.title|default:'' }}"
                            class="w-full mt-2 bg-white/10 border border-white/20 rounded-lg px-4 py-3 text-white focus:ring-[#F5C51C] focus:ring-2 outline-none">
                    </div>

                    <div class="grid grid-cols-2 gap-6">
                        <div>
                            <label class="text-white/70 text-sm">Release Year</label>
                            <input required type="number" placeholder="2024" name="year"
                                value="{{ movie.year|default:'' }}"
                                class="w-full mt-2 bg-white/10 border border-white/20 rounded-lg px-4 py-3 text-white">
                        </div>

                        <div>
                            <label class="text-white/70 text-sm">Rating</label>
                            <input required type="text" placeholder="8.5" name="rating"
                                value="{{ movie.rating|default:'' }}"
                                class="w-full mt-2 bg-white/10 border border-white/20 rounded-lg px-4 py-3 text-white">
                        </div>
                    </div>

                    <div>
                        <label class="text-white/70 text-sm">Genre</label>
                        <select name="genre"
                            class="w-full mt-2 bg-white/10 border border-white/20 rounded-lg px-4 py-3 text-white">
                            <option>Sci-Fi</option>
                            <option>Action</option>
                            <option>Drama</option>
                            <option>Horror</option>
                        </select>
                    </div>

                    <div>
                        <label class="text-white/70 text-sm">Description</label>
                        <textarea rows="5" placeholder="Movie description..." name="description"
                            class="w-full mt-2 bg-white/10 border border-white/20 rounded-lg px-4 py-3 text-white">{{ movie.description|default:'' }}</textarea>
                    </div>

                    <div class="flex justify-between">
                        <a href="{% url 'admin_movie' %}"
                            class="px-6 py-3 border border-white/20 rounded-lg text-white/60 hover:bg-white/10">
                            Cancel
                        </a>
                        <button type="submit"
                            class="px-6 py-3 bg-[#F5C51C] rounded-lg font-semibold text-black shadow-lg shadow-yellow-500/30 cursor-pointer">
                            {% if movie %}
                            Edit Movie
                            {% else %}
                            Add Movie
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</main>

<script>
    document.getElementById("posterInput").addEventListener("change", function (e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = () => {
                document.getElementById("posterPreview").src = reader.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}