{% extends "partials/base.html" %}

{% block title %}Home - Movie Website{% endblock %}

{% block content %}
<div id="container-home">

    <!-- hero section -->
    <div class="min-h-[100dvh] bg-gradient-hero">
        {% include "partials/navbar.html" %}
        <div class="container mx-auto px-24 my-[15dvh]">
            <h1 class="text-white text-[68px] font-semibold leading-none -tracking-[0.03em]">Spider Man <br>No Way Home
            </h1>
            <div class="flex mt-4 gap-x-3">
                <div class="bg-[#F5C51C] text-sm px-2 py-1 rounded-md font-bold">IMDb</div>
                <div class="flex gap-x-3">
                    <p class="text-white">8.2 <span style="color: rgba(255, 255, 255, 0.4);">(12.827)</span>
                    </p>
                    <p class="text-white"> &#8226;</p>
                    <p style="color: rgba(255, 255, 255, 0.8);">2021</p>
                    <p style="color: rgba(255, 255, 255, 0.8);">|</p>
                    <p style="color: rgba(255, 255, 255, 0.8);">1 hour 55 minutes</p>
                    <p style="color: rgba(255, 255, 255, 0.8);">|</p>
                    <p style="color: rgba(255, 255, 255, 0.8);">Sci-fi</p>
                </div>
            </div>
            <p class="text-white text-base w-[40%] mt-4">Scelerisque sed ultricies tristique. Mi in vivamus aliquam
                varius eu
                felis.
                Id
                ultricies diam turpis mi
                tincidunt. Ut morbi sed urna tempor imperdiet eu scelerisque egestas. Interdum mi orci suspendisse in
                s... <span class="text-[#F5C51C] cursor-pointer hover:underline">See more</span></p>
            <div class="flex mt-4 gap-x-4">
                <a href="" class="bg-none border text-white/60 border-white/60 rounded-md px-4 py-3 font-medium">Watch
                    trailer</a>
                {% if user.is_authenticated %}
                <a href="{% url 'detail_movie' %}" class="bg-[#F5C51C] rounded-md px-4 py-3 font-medium"><i
                        class="fa-solid fa-play"></i> Watch
                    now</a>
                {% else %}
                <a href="{% url 'login' %}" class="bg-[#F5C51C] rounded-md px-4 py-3 font-medium"><i
                        class="fa-solid fa-play"></i> Watch
                    now</a>
                {% endif %}
            </div>
        </div>
        <div class="pb-10">
            <div class="container mx-auto px-24 flex gap-x-4">
                <div class="bg-none border border-white/60 rounded-md pl-4 py-3 pb-3 pr-2 text-white cursor-pointer"
                    id="left-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#fff" height="24" width="24">
                        <path d="M384-96 0-480l384-384 68 68-316 316 316 316-68 68Z" />
                    </svg>
                </div>
                <div class="bg-none border border-white/60 rounded-md pl-4 py-3 pb-3 pr-2 text-white cursor-pointer"
                    id="right-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#fff">
                        <path d="m288-96-68-68 316-316-316-316 68-68 384 384L288-96Z" />
                    </svg>
                </div>
            </div>
            <div class="swiper movieSwiper mt-10 no-scrollbar">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/static/img/movie1.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie2.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie3.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie4.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie5.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie6.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie7.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie8.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie9.png"></div>
                    <div class="swiper-slide"><img src="/static/img/movie10.png"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero section -->

    <!-- footer -->
    {% include 'partials/footer.html' %}
    <!-- end footer -->
</div>


{% endblock %}